---
const { href, image, alt, title, author } = Astro.props;
---

<div
  class="max-w-sm bg-gray-200
   hover:bg-yellow-100/80 hover:border-yellow-500
  rounded-4xl overflow-hidden
  dark:bg-gray-900/40
  dark:hover:bg-gray-800/70 dark:hover:border-gray-400"
>
  <a href={href}>
    <div class="p-10 pb-0">
      <img class="rounded-2xl" src={image} alt={alt} />
    </div>
  </a>
  <div class="p-10">
    <a href={href}>
      <h5
        class="mb-2 text-xl tracking-tight
        text-gray-800 dark:text-white
        truncate"
      >
        {title}
      </h5>
    </a>
    <p class="text-gray-600 dark:text-gray-300">{author}</p>
  </div>
</div>
