---
const PROJECTS = [
  {
    title: "Typing club",
    description: "Crated from scratch an application that helps people to type faster",
    link: 'https://www.edclub.com/sportal/',
    github: 'https://github.com/llucmarti',
    image : '/projects/typing_club.webp',
    tags: ['Java', 'Spring Boot'],
  }
];
---

{
    PROJECTS.map(({title, description, tags, image}) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul>
                {tags.map(tag => (
                    <li>{tag}</li>
                ))}
            </ul>
            <img 
            class="rounded shadow-2xl shadow-white/10" 
            src={image} 
            alt={`Project Screenshot ${image}`}>
        </article>
    ))
}